/* Bestelgeschiedenis */

#tabel1 {
    width: 100%;
    border-collapse: collapse;
}

#tabel1 td, #tabel1 th {
    border: 1px solid #2980b9;
    padding: 3px 7px 2px 7px;
}

#tabel1 th {
    font-size: 1.1em;
    text-align: left;
    padding-top: 5px;
    padding-bottom: 4px;
    background-color: #2980b9;
    color: #ffffff;
}

#tabel1 tr.alt td {
    color: #2980b9;
    background-color: #2980b9; 
}

#tabel2 {
    width: 100%;
    border-collapse: collapse;
}

#tabel2 td, #tabel2 th {
    border: 1px solid #2980b9;
    padding: 3px 7px 2px 7px;
}

#tabel2 th {
    font-size: 1.1em;
    text-align: left;
    padding-top: 5px;
    padding-bottom: 4px;
    background-color: #2980b9;
	color: #ffffff;
}

#tabel2 tr.alt td {
    color: #2980b9;
    background-color: #2980b9; 
}