/**HEADER**/
.header-color {
	background-color: #DDDDDD;
}

/*
.navbar{
  background-color: #2980b9;
  border-radius: 0px;
  border: 0px;
}

.navbar-default .navbar-nav>li>a, .navbar-default .navbar-brand{
  color: #fff;
}

.navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-brand:hover {
  color: #fff;
}

.navbar-default .navbar-toggle .icon-bar{
  background-color: #fff;
}

.navbar-default .navbar-nav .open .dropdown-menu{
	background-color:#337ab7;
}
.navbar-default .navbar-nav .open .dropdown-menu>li>a {
color:#fff;
}
.navbar-default .navbar-nav .open .dropdown-menu>li>a:hover {
background-color:#575757;
}
.navbar-default .navbar-nav>li>a:hover{
	background-color:#575757;
}