/*Pagination*/
.pagination div {
	display: inline;
	margin-right: -1px;
	border: 1px solid #DDD;
	padding: 5px;
	position: relative;
}

.pagination div:hover {
	background-color: #DDD;
}

.first {
	border-radius: 5px 0px 0px 5px;
}

.last {
	border-radius: 0px 5px 5px 0px;
}

#pagination_wrapper { 
	width: 200px;
	margin-top: 10px;
	margin-left: auto;
	margin-right: auto;
}

#contenttabel {
	height:auto;
	width:70%;
	margin-left:auto;
	margin-right:auto;
}