/* Hieronder staat de css voor het inloggen scherm/je kan ook registreren*/
#containerinloggen {
	padding-top: 75px;
	padding-left: 125px;
}
#inlogscherm {
	min-height: 220px;
	border: 1px solid #8A8A8A;
	border-radius: 30px;
	margin-top:20px;
	padding-top:30px;
	width:600px;
	color: black;
}

.checkbox {
	color: black;
}

.g-recaptcha {
	height: 80px;
	width:305px;
	min-width:305px;
}

#profiel {
	text-align:center;
	color:black;
}