/* Hieronder staat de css om je gegevens te wijzigen*/

#container {
	margin-left:auto;
	margin-right:auto;
	height: 375px;
	width:40%;
	border: 1px solid black;
	border-radius: 30px;
	margin-top:12%;
	margin-bottom: 10%;
	min-width: 490px;
}

#title {
	text-align:center;
}

#labels {
	float:left;
	width:35%;
	margin-top: 15px;
	margin-right:20px;
	margin-left: 15px;
	height:21px;
}

#label1 {
	margin-top: 16px;
}

#textboxen {
	float:left;
}

input {
	margin-top: 15px;
}

#button {
	float: right;
	margin-right: 15px;
	margin-top: 235px;
}