@import url('pagination.css');
@import url('bestelgeschiedenis.css');
@import url('styleinlog.css');
@import url('styleadmin.css');
@import url('stylereg.css');
@import url('accountwijzigstyle.css');
@import url('styleproductwijzigen.css');
@import url('styletoevoegen.css');
@import url('styleproducten.css');
@import url('header.css');

::selection {
  background: #F78528; /* WebKit/Blink Browsers */
}
::-moz-selection {
  background: #F78528; /* Gecko Browsers */
}

* {
	margin: 0;
	padding: 0;
	outline: none;
}

body { 
	background: #fff;
}

/*DETAIL*/
#plaatje {
	min-height: 300px;
	max-height: 300px;
}

#borderbottom {
	border-bottom: 1px solid #e5e5e5;
	padding: 0;
	margin-top: 4%;
}

.conditie {
	margin-top: 15px;
}

.hoesje, .versturen {
	margin-top: 10px;
}

.verkoper {
	margin-top: 15px;
}

.bordertop{
	margin-top: 15px;
	border-top: 1px solid #e5e5e5;
}

.beschrijving {
	margin-top: 10px;
}

#ul{
	height: 80%;
}

.circular{
	margin-left:5%;
	border-radius:  50%;
	-webkit-border-radius:  50%;
	-moz-border-radius:  50%;
}