/*Adminpanel*/

aside {
	width: 15%;
	margin-left: 30px;
	margin-bottom: 10%;
	float: left;
}

aside a {
	background-color:#A09A9A;
	text-decoration:none;
	color:black;
}

aside a:hover {
	color: red;
	text-decoration: underline;
}

#contentadminpanel {
	height:auto;
	width:100%;
	margin-top: 10%;
	margin-bottom: 10%;
	background-color: white;
}

#admincontainer {
	width: 75%;
	min-width: 770px;
	height: 100%;
	margin-top: 4px;
	border-right: 1px solid black;
	border-left: 1px solid black;
	border-top: 1px solid black;
	float: left;
}

.buttons {
	margin-top:2.6%;
	background-color:#908D8D;
	border-top:1px solid;
	border-bottom:1px solid;
	border-left:1px solid;
}

.buttons:hover {
	color:black;
	text-decoration: none;
	background-color:#A09A9A;
}

.buttons:active {
	opacity:0.9;
	background-color:#3399FF;
}

#filter {
	margin-top:5%;
	padding:8px;
	border-top:1px solid;
}

#aantalselect {
	margin-left:56%;
}

#titel {
	margin-top:10px;
	text-decoration:underline;
	text-align:center;
	font-size:22px;
}

#ordertabel {
	min-height: 650px;
	height:auto;
	width: 90%;
	border-collapse: collapse;
	margin-top: 20px;
}

#ordertabel a {
	text-decoration: underline;
	color: #2980b9;
}

#orders table, td, th {
	padding: 5px;
}

#orders th {
	text-align: left;
}

#orders td a:hover {
	background-color:lightgray;
}

#orders td a {
	text-align:center;
	display:block;
	width:100%;
}

#minifooter {
	margin-top:200px;
	width:100%;
	height:50px;
	border-top:solid 1px black;
	border-bottom:solid 1px black;
}

#check {
	text-align: center;
	vertical-align: middle;
}