/* Hieronder staat de css om je gegevens te wijzigen*/

#gegevens {
	margin-left:auto;
	margin-right:auto;
	height: 555px;
	width:30%;
	border: 1px solid black;
	border-radius: 30px;
	margin-bottom: 10%;
	min-width: 410px;
}

#title {
	text-align:center;
}

#labels
{
	float:left;
	width:25%;
	margin-top: 15px;
	margin-right:20px;
	margin-left: 15px;
	height:21px;
}

#label1 {
	margin-top: 16px;
}

#textboxen {
	float:left;
}

#textbox1
{
	margin-top: 16px;
}

#button {
	float: right;
	margin-right: 15px;
	margin-top: 450px;
}

.containergegevens {
	margin-top: 3em;
	min-height: 650px;
}