#registratieveld {
	border: 1px solid #8A8A8A;
	border-radius: 30px;
	margin-top: 3%;
}

#verplicht {
	margin-top:15px;
}

#checkboxalgemenevoorwaarden {
	margin-top: 70px;
	margin-left: 24px;
}

#buttonregistreren {
	float:right;
	margin-top:280px;
	margin-top: 200px;
}

.form-group {
	margin-top: -15px;
}