a {
	text-decoration: none;
	color: #000000;
}

.productpage_img {
	min-height: 155px;
	max-height: 155px;
}

.cartfull{
	height:20px;
	width: 150px;
	display: block;
	margin-top: 5px;
	margin-left: auto;
	margin-right: auto;	
	color: red;
	text-align: center;
	text-decoration: none;
}

/*...*/
#test {
	margin-top:5px;
	margin-right:5px;
}

#label1 {
	background-color:#2980b9;
}

#voorraad {
	color:red;
}

#aantal {
	bottom: 7px;
}

/* Categorieen Filter */
#filter-wrapper li {
	float: none;
}

#filterproducten {
	background-color: #2980b9;
	border-radius: 5px;
	float: left;
	padding: 5px;
	margin: 5px 30px;
	padding-bottom: 10px;
	width: 190px;
	text-align:center;
	cursor: pointer;
	height: auto;
}

#filter-wrapper li {
	list-style: none;
}

#result li a, #result li a:hover {
	text-decoration: none;
	color: white;

}

#result li:hover {
	background-color: #666;
	border-radius: 2px;
}

#result {
	text-align:left; 
	display: block;
	margin: 0;
	padding: 0;
	padding-left: 5px;
}

#titel, #artiest{
	color: blue;
}

#blue{
	color: #03b;
}