/* Hieronder staat de css voor het wijzigen van producten*/

#contentadminpanel {
	height:auto;
	width:100%;
	margin-top: 10%;
	margin-bottom: 10%;
}

#productform {
	height:100%;
	width:100%;
}

/* Linker rij */
#label1-1 {
	float:left;
	width:16%;
	height:100%;
	margin-left: 15px;
}

.label1-1 {
	margin-top: 15px;
	height:21px;
}

#box1 {
	float:left;
	width:34%;
}

.box1-1 {
	margin-top: 15px;
}

#beschrijving {
	height: 320px;
	width: 260px;
}

#categorie {
	width: 172px;
}

/* Rechter rij */

#label2 {
	float:left;
	width:13%;
	height:100%;
}

.label2-1 {
	margin-top: 15px;
	height:21px;
	margin-left: 15px;
}

#box2 {
	float:left;
	width:25%;
}

.box2-1 {
	margin-top: 15px;
}

#specs {
	height: 320px;
	width: 260px;
}

#minifooter {
	margin-top: 35px;
	float:left;
	width:100%;
	height:50px;
	border-top:solid 1px black;
	border-bottom:solid 1px black;
}